body {
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 14pt;
  background-image: url("../images/yellow.jpg");
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}
.container {
  text-align: center;

  margin: 0 auto;
}
.weather-app {
  max-width: 690px;
  border: 3px solid;
  border-color: #d0a12f;
  border-radius: 100px;
  margin: 10px auto;
  background-image: url("../images/yellow-trig.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  padding: 10px 30px;
  background-size: auto;
}
.big-icon {
  font-size: 50pt;
  padding: 20px 0px 0px 0px;
  color: #f1b620;
}

.card {
  text-align: center;
  border: 2px solid;
  border-color: #d0a12f;
  border-radius: 250px;
  padding: 10px;
  margin: 60px 10px 80px 40px;
  background-image: url("images/drops.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
h2 {
  color: #f1b620;
}
.list-group-item {
  font-size: 18pt;
  font-weight: 800;
  background: transparent;
  color: #f1b620;
}
.weekly-temperatures {
  font-size: 24px;
  margin: 50px 40px 80px 40px;
}

.small-icon {
  font-size: 14pt;
  padding: 0px;
}
.display-city {
  align: center;
  font-size: 22pt;
  padding: 0px 0px 15px;
  font-family: "Neucha", cursive;
  color: #f1b620;
  border: 2px solid;
  border-color: #d0a12f;
  border-radius: 300px;
  text-align: center;
  margin: 0 auto;
  padding: 5px 20px 3px 20px;
  background-image: url("../images/drops.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.col-4 {
  max-width: 70px;
  border: 1px solid;
  border-color: #418196;
  border-radius: 300px;
  text-align: center;
  margin: 15px 5px;
  padding: 5px 0px 3px 0px;
  background-image: url("../images/drops.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #f1b620;
  font-size: 12pt;
}

.form-control {
}
.search-city {
  position: relative;
}
